<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="reports" routerLinkActive="active"><i class="fa fa-clipboard p-r-5"></i>Daily Reports</a>
        <a class="nav-link" routerLink="/billing" routerLinkActive="active"><i class="fa fa-file p-r-5"></i>Billing</a>
        <a class="nav-link" routerLink="/customer" routerLinkActive="active"><i class="fa fa-user p-r-5"></i>Customer</a>
      </div>
  </div>
</nav>
